<!-- footer.html -->
<footer class="bg-dark text-white mt-5">
    <div class="container py-4">
        <div class="row">
            <div class="col-md-4">
                <h5>About Us</h5>
                <p>Asenwi ElectroWorld is your one-stop shop for all electronic gadgets and accessories. We offer the best products at competitive prices.</p>
            </div>
            <div class="col-md-4">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="{% url 'shop:home' %}" class="text-white">Home</a></li>
                    <li><a href="{% url 'shop:home' %}" class="text-white">Products</a></li>
                    <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSd3qw1MgotvC9u4gew_M0bfhfdMFGamGSR56yhwpj_6IUOHpw/viewform?usp=preview" class="text-white">Contact Us</a></li>
                    <li><a href="{% url 'shop:privacy_policy' %}" class="text-white">Privacy Policy</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Follow Us</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-white"><i class="fab fa-facebook-f"></i> Facebook</a></li>
                    <li><a href="https://x.com/abdualrahm44862" class="text-white"><i class="fab fa-twitter"></i> Twitter</a></li>
                    <li><a href="#" class="text-white"><i class="fab fa-instagram"></i> Instagram</a></li>
                    <li><a href="https://www.linkedin.com/checkpoint/lg/login-submit" class="text-white"><i class="fab fa-linkedin-in"></i> LinkedIn</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="text-center py-3" style="background-color: rgba(0, 0, 0, 0.2);">
        &copy; 2025 Asenwi ElectroWorld. All rights reserved.
    </div>
</footer>